body {margin:0 auto;}

.halloween-box {
	display: flex;
	justify-content: center;
	align-items: center;
  	flex-wrap: wrap;
	padding: 10px;
	margin: 10px;
	margin-left: 77px;
	font-variant: small-caps;
	width: 42%;
	height: 100%;
	background-color: orange;
	color: black;
	border: 1px solid;
	box-sizing: border-box;
}

.transition1 {
 transition: background-color, 2s; 
}
.transition1:hover {
  background-color: green;
}
.transition1:active {
  background-color: red;
}

.transition2 {
  transition: background-color, 2s;
}

.transition2:hover {
	background-color: white;
}

.transition3 {
  position: relative; 
  transition: background-color 2s, right 0.5s;
  right: 0;
}
.transition3:hover {
  right: 100px; 
  background-color: black;
}
	
}
.transition4 {
	transition: box-shadow, 2s;
}

.transition4:hover {
  box-shadow: 0px 4px 20px 0 #2A9D8F;
}
	
}
.transition5 {
	 transition: 3s linear 1s;
  }

.transition5:hover {
    width: 250px;
  }

.transition6 {
	transition: all 1.3s ease-in-out;
	}

.transition6:hover {
	background-color: rgba(255,204,51,0.7);
	transform: rotate(360deg) scale(1.3);
}

.transition7 {
 transition: background-color, 3s; 
}
.transition7:hover {
background-color: purple;
font-size: 1px;
}


.transition8 {
transition: 3s linear 1s;
  }

.transition8:hover {
    width: 1px;
  }
	
}
.transition9 {
	transition: all 0.5s;
  position: relative;
  box-shadow: 0 0 0 0 #2A9D8F; 
  top: 0
}
.transition9:hover {
  box-shadow: 0px 4px 8px 0 #E76F51;
}
.transition9:active {
  box-shadow: 0 0px 4px 0 #2A9D8F;
  top: 4px;
}

.transition10:hover {
   transform: rotate(-10deg); 
   font-size: 50px;
}

/* exercise 2 - moving form label */

label, input {
  display: block;
  padding: 5px
}
input { 
  width: 200px; 
  background-color:transparent; 
}
label { 
  display: inline-block;
  position: relative;
  bottom: 1.6em;
  color: #999;
  transition: all 0.1s;
  z-index: -1
}
input:focus + label {
  color: #000;
  bottom: 0; 
  font-size: 12px;
  color: green;
}

/* exercise 3 */
#exercise-three ~ .ex3-cover {
  height: 3px;
  background: linear-gradient(90deg, #43cea2 10%, #185a9d 90%);
  width: 0px;
  transition: all 1s;
}

#exercise-three:focus + .ex3-cover {
  width: 214px;
}
#exercise-three:focus {
  outline: 0;
}

  