	/* ==========================================================================
	   Author's custom styles
	   ========================================================================== */
.ThirdCol {
  width: 100%; 
  margin-left:0;
  float: none;
  box-sizing: border-box;
  padding: 15px;
  font-size: 1em;
  text-align: center;
}
.ThirdCol:nth-child(3n+1) {
  margin-left: 0px;
}

body {
	font: 300 16px/22px; 
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #264653;
	}

.container {
max-width: 1024px;
margin: 0px auto;
	}

header {
	float: none;
	width: 100%;
	font-size: 30px;
	color: #E9c46a;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 5px;
	margin-top: 35px;
	box-sizing: border-box;
	}
	
ul {
	list-style-type: none;
	margin-top: 5px;
	margin-left: 5px;
}

main {
		float: left;
		width: 100%;
		padding: 1em 0em;
		background-color: #3A6B7F;
		border-radius: 8px;
	}

h2 {
	font-size: 25px;
	color: #F4A261;
	font-variant: small-caps;
	font-weight: normal;
	position: relative;
	}

a:link { 
	color: #E9C46A;
	text-decoration: none;
	display: inline;
	}

a:visited {
	color: #E9C46A;
	text-decoration: none;
	display: inline;
	}

a:hover {
	color: #2A9D8F;
	text-decoration: none;
}
a:active
a:focus {
	color: #2A9D8F;
	text-decoration: underline;
	}


/***Navigation Styles ***/

nav {
  	padding: 1px;
      float:none;
      width: 90%;
      z-index: 4;
  }

   nav>ul>li {
      /*display: block;*/
    list-style-type: none;
	height: auto;
    padding: 8px 0px;
    margin: 0px auto;
   }

   nav>ul>li>a:link{
      color:#ffffff;
      padding: 10px;
      border:1px;
      border-radius: 4px;
      background-color: #2A9D8F;
      display: block;
      text-decoration: none;
   }

   nav>ul>li>a:visited{
      color:#ffffff;
      border:1px solid;
      background-color: #2A9D8F;
      border-radius: 4px;
   }

   nav>ul>li>a:active,
   nav>ul>li>a:focus,
   nav>ul>li>a:hover{
      color:#2D3142;
     border:1px solid #2D3142;
   }


/***End Navigation***/


section {
	width: 100%;
	float: none;
	margin-left: 2px;
	padding: 10px;
	box-sizing: border-box;
}

/*aside {
	width: 100%
	float: none;
	margin: 0em 1em;
	margin-top: 15px;
	background-color: #E76F51;
	border: #3A6B7F dotted;
	padding: 10px;
	box-sizing: border-box;
}

aside p {
	color: #E9C46A;
	border: none;
	box-sizing: border-box;
}*/

article {
	padding: 15px 10px 15px 0px;
	margin-right: 20px;  
	background-color: #264653;
	box-sizing: border-box;
}

/*article.article4{
	position: relative;
	text-align: center;
}

.child {
	position: absolute;
	height: 50px;
	left: 630px;
	width:630px;
}*/

time {
	font-size: 20px;
	padding: 5px;
	color: #2A9D8F;
	border: 1px solid;
	margin-left: 10px;
}


figcaption.amy {
	display: block;
	font-size: 17px;
	color: #2A9D8F;
	border: none;
	text-align: center;
	max-width: 100%;
	}

p {
	width: 100%;
	font-size: 20px;
	color: #e76f51;
	font-weight: bold;
	padding: 2px;
	border: dotted;
	}

figure {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	padding: 20px 15px 20px 5px;
	border: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
  border: 1px solid #323232;
  padding: 10px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, .5);
}



figcaption {
	font-size: 17px;
	color: #2A9D8F;
	border: none;
	text-align: center;
	width: 100%;
	}

/*.clearfix:before,
.clearfix:after {
 content: "";
 display: table;
}*/
	
.site-footer {
	position: relative;
	left:0px;
 	top: 0px;
  	width: 100%;
	color: #e76f51;
	font-size: 20px;
	font-variant: small-caps;
    font-weight: bold;
	text-align: center;
	box-sizing: border-box;
	}

address {
	display: block;
	text-align:center;
	font-size: 17px;
	background-color: #2A9D8F;
	font-size: 20px;
	font-variant: small-caps;
    font-weight: bold;
	border: none;
	text-align: center;
	box-sizing: border-box;
	}

/* For tablets: */
@media (min-width: 768px) {
   .container {
      max-width: 992px;
      /*max-width:100%;*/
      margin:0px auto;
      position:relative;
      background-color: #264653;
      top: 0px;
      left: 0px;
      padding: 10px;
      box-sizing:border-box; }

.ThirdCol {
  width: 31%; 
  margin-left:2.3%;
  float: left;
  box-sizing: border-box;
  padding: 1em;
  font-size: 1em;
  text-align: center;
}
.ThirdCol:nth-child(3n+1) {
  margin-left: 20px;
}

section{
   width: 90%;
   padding:1em;
   float:left;
   margin-left:1em;
   display: inline-block;
  
   }

   /*aside {
   width:30%;
   padding:1em;
   float:right;
   margin-right:0em;
   }*/

nav {
	display: inline-block;
   	width: 100%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: #2A9D8F;
    border-radius: 8px;
    z-index: 5;
	}

nav a {
	position: relative;
	text-decoration: none;
	font-variant: small-caps;
    color: #F4A261;
}
nav ul {
	max-height: 45px;
}

nav>ul>li {
	display: inline-block;
	height: auto;
	list-style-type: none;
    padding: 8px 0px;
    margin: 0px auto;
	}

nav>ul>li>a:link{
      color:#E76F51;
      padding:.5em;
      border: none;
      border-radius: 2px;
   }

 nav>ul>li>a:visited{
      color:#264653;
      border:none;
      border-radius: 4px;
   }

 nav>ul>li>a:active,
 nav>ul>li>a:focus,
 nav>ul>li>a:hover{
      color:#264653;
      background-color:#E9C46A;
      margin-top: 2px;
  }

}

/* For screens: */
@media (min-width: 992px) {
   .container {
      max-width:1024px;
      /*max-width:100%;*/
      margin:0px auto;
      position:relative;
      background-color: #264653;
      top:0px;
      left:0px;
   }
}